//grant codeBase "file:/Users/jianhuali/Desktop/part2/comp512/phase2/clientsrc" {
grant codeBase "file:/Users/shabirmean/Desktop/COMP512/Phase-1/project/phase2/clientsrc" {
    permission java.security.AllPermission;
};


